.nav-parent-container{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: #F79256; 
}

.menu-options{
    display: flex;
}

.nav-title{
    font-family: 'Lobster', cursive;
    font-size: 30px;
    text-decoration: none;
    color: black;

}

.sign-in-up{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 400px;
}

.nav-option{

    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.nav-option:first-child{
    margin-right: 30px;
}

.set-goal{
    text-decoration: none;
    color: black;
}